# Orchestrator Service Configuration
# Copy this file to .env and fill in your values

# Voice Separation Service
VOICE_SEPARATION_URL=http://localhost:8001

# Lyrics Extraction Service
LYRICS_EXTRACTION_URL=http://localhost:8002

SONG_MANAGEMENT_URL=http://localhost:8003

# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
MINIO_BUCKET_NAME=karaoke

# Server Configuration
PORT=8000
HOST=0.0.0.0

# Logging
LOG_LEVEL=INFO
YOUTUBE_COOKIES_PATH=./yt/cookies.txt
POT_URL=http://bgutil-pot-provider:4416
PROXY_URL=http://iqyjxyag:4majolxck9qc@31.59.20.176:6754

# minio only
SERVER_URL=localhost:9000
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317